{% extends 'base.html' %}
{% block title %}
  add category page
{% endblock %}

{%  block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img src="{{url_for('static',filename = '30224404.jpg')}}" alt="..." height="36">
  <a class="navbar-brand" href="#">Fashion</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{url_for('home_page')}}">Home <span class="sr-only">(current)</span></a>
        </li>
    
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('login_page')}}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('register_page')}}">Register</a>
        </li>
    </ul>
  </div>
</nav>
{%include 'messages.html'%}
<div class="p-5"class="container-fluid">
  {% from "_formhelpers.html" import render_field %}
  <h2 class="text-center">Add Category</h2>
  <form method=POST enctype=multipart/form-data>
    {{form.hidden_tag()}}
    <dl>
      {{ render_field(form.name , class= "form-control" , placeholder= "Category Name") }}
      {{ render_field(form.submit ,class="btn btn-primary ")}}
    </dl>
</div>

{%  endblock content %}
    